.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color: cyan;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 10px 20px rgba(0, 0, 0, 0.15);
}

.navbar h1 {
    font-size: 2em;
    color: white;
    background-color: yellow;

}

.navbar a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 0px 67px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 10px 20px rgba(0, 0, 0, 0.15);
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    justify-content: space-evenly;
}

.homebovenlinks {
    border: 2px solid black;
    padding: 10px;
    border-radius: 50px;
    top: 34.5%;
    position: absolute;
    left: 9%;
    width: 580px;
    text-align: center;
    font-size: 20px;
}

.homebovenrechts {
    border: 2px solid black;
    padding: 10px;
    border-radius: 50px;
    top: 34.5%;
    position: absolute;
    right: 8.5%;
    width: 580px;
    text-align: center;
    font-size: 20px;
}

.homelinks {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    height: 450px;
    width: 630px;
    padding: 20px;
    border-radius: 50px;
    font-size: 50px;
    text-align: center;
    overflow: hidden;

}

.homerechts {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    height: 450px;
    width: 630px;
    padding: 20px;
    border-radius: 50px;
    font-size: 25px;
    text-align: center;
    overflow: hidden;
}


.wegen-tabel {
    align-items: center;
    width: 100%;
    gap: 5px;
    border: 3px black solid;
    padding: 5px;

}

.wegen {
    width: 310%;
    gap: 5px;
    border: 3px solid black;
    justify-content: center;
    text-align: center;
}